*,
html {
  padding: 0;
  margin: 0;
}

.body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: x-large;
  color: white;
  text-shadow: 1px 1px 1px rgb(104, 104, 104);
}

.outer {
  background-color: #282c34;
  background-image: radial-gradient(rgb(1, 9, 83), rgb(0, 4, 27));
  width: 100vw;
  height: 100vh;
}

.outer-small {
  background-color: #282c34;
  width: 1200px;
  height: 680px;
}

.snow {
  width: 100vw;
  height: 100vh;
}

.item {
  height: 5vh;
  margin: 5vw;
}

.title {
  font-size: 2.4rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  color: #282c34;
}

.big-item {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

form {
  font-size: 1.2rem;
}

label,
input,
textarea {
  margin-top: 8px;
  margin-bottom: 15px;
  width: 250px;
}

textarea {
  margin-top: 10px;
}

.body-label {
  margin-bottom: 25px;
}

.closing {
  margin-top: 25px;
  text-shadow: 1px 1px 1px rgb(104, 104, 104);
}

.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  height: 440px;
  width: 300px;
  border: solid 2px rgb(82, 82, 82);
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  background-color: whitesmoke;
  margin: auto;
  text-align: center;
}

.card:hover {
  z-index: 1;
  box-shadow: inset 10px 0 50px rgba(165, 165, 165, 0.5);
}

.card-cover {
  position: relative;
  width: 304px;
  height: 444px;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 4;
  transform: translate(-2px, -2px) perspective(2000px);
  transition: 4s;
  background-color: rgb(236, 92, 73);
  border: solid 2px rgb(61, 60, 60);
}

.card-open {
  transform: rotateY(-179deg) translate(-2px, -2px);
  z-index: 4;
}

.card-cover .stuff {
  height: 100%;
  visibility: visible;
  transition-property: visibility;
  transition-delay: 1.07s;
}

.stuff-open {
  visibility: visible;
  transition-property: visibility;
  transition-delay: 1.07s;
  visibility: hidden;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
}

.details {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 25%;
  background-image: url("./images/snow2.gif");
  backdrop-filter: blur(0.5);
  background-size: cover;
  font-size: xx-large;
  color: white;
}

.smallScale {
  transform: scale(0.3);
}

.details p,
h2 {
}

.greeting {
  backface-visibility: hidden;
  text-shadow: none;
}

.greeting-heading {
  padding-bottom: 20px;
}

h1 {
  backface-visibility: hidden;
  height: 100%;
  padding-top: 25%;
}

.cover-content {
  background-color: cadetblue;
  background-color: rgb(236, 92, 73);
  z-index: 4;
  backface-visibility: hidden;
}

.button {
  order: 0;
  margin-top: 86vh;
  background-color: rgb(236, 92, 73);
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  font-size: large;
  font-weight: 500;
  border: outset 2px rgb(197, 144, 144);
  margin-right: 10px;
  margin-left: 10px;
}

div.button-holder button {
  order: 0;
  background-color: rgb(236, 92, 73);
  color: white;
  padding: 8px 10px;
  margin: 0 5px;
  margin-bottom: 10px;
  border-radius: 40px;
  border: none;
  font-size: large;
  font-weight: 500;
  border: outset 2px rgb(197, 144, 144);
}

.button-customize {
  order: 0;
  margin-top: 38vh;
  background-color: rgb(236, 92, 73);
  color: white;
  padding: 10px 20px;
  border-radius: 80px;
  border: none;
  font-size: 3rem;
  font-weight: 500;
  border: outset 2px rgb(197, 144, 144);
}

.button:hover {
  background-color: rgb(253, 130, 108);
}

.button:focus {
  background-color: rgb(236, 92, 73);
}

.button:active {
  background-color: rgb(253, 130, 108);
  transform: scale(0.98);
  border: outset 1px rgb(197, 144, 144);
}

@keyframes card-open {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.customize-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  background-image: radial-gradient(rgb(214, 212, 212), cadetblue);
  /* max-height: 100vh; */
  min-height: 100vh;
}

.instructions {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  width: 400px;
  /* height: 95vh; */
  border: solid 2px rgb(78, 78, 78);
  border-radius: 4px;
  background-color: white;
  /* max-width: 90vw; */
  box-shadow: 4px 6px 18px rgb(85, 85, 85);
  margin: 0;
  padding: 0;
}

.card-instructions {
  font-size: 0.7rem;
}

.preview-container {
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .title {
    margin-top: 25px;
  }

  .instructions {
    padding-top: 50px;
  }
}

@media only screen and (max-height: 700px) {
  .instructions {
    transform: scale(0.9);
  }

  .button-customize {
    margin-top: 42vh;
  }

  .button {
    margin-top: 90vh;
  }
}
